*{
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__backbox{
    width: 700px;
    height: 400px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.main__backbox__img img{
    width: 690px;
    height: 390px;
    display: flex;
}

.none{
    display: none;
}

.showing{
    display: block;
}

.main__buttombox{
    position: absolute;
    width: 100%;
    font-size: 40px;
    color: white;
}

.main__buttombox__prev{
    position: absolute;
    left: 0;
    padding: 168px 20px;
    transform: translate(0%, -50%);
    transition: background 1s;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main__buttombox__next{
    position: absolute;
    right: 0;
    padding: 168px 20px;
    transform: translate(0%, -50%);
    transition: background 1s;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main__buttombox__prev:hover,
.main__buttombox__next:hover{
    background-color: rgba(0, 0, 0, 0.335);
}

.main__dotbox{
    display: flex;
    position: absolute;
    bottom: 3%;
}

.main__dotbox__dot{
    width: 11px;
    height: 11px;
    margin: 5px;
    background-color: rgb(75, 73, 73);
    border-radius: 100%;
    cursor: pointer;
    transition: background ease 1s;
}

.bdot{
    background-color: white;
}